:root {
  --ash: #aeaeae;
  --black: #0d0d0d;
  --indigo: #221131;
  --purple: #7300ff;
  --pink: #ff0099;
  --orange: #ffbd2e;
  --white: #ffffff;
  --lime: #00ff3c;

  --ff-menu: "Montserrat", sans-serif;
  --ff-hero-title: "Gratina", serif;
  --ff-hero-desc: "Mynerve", cursive;
  --ff-section-title: "Montserrat", sans-serif;
  --ff-content: "Urbanist", sans-serif;
  --ff-meta: "Urbanist", sans-serif;

  --fs-menu: clamp(0.75rem, 0.7rem + 0.2vw, 1rem); /* 12px - 16px */
  --fs-hero-title: clamp(3.5rem, 3rem + 1.5vw, 4rem); /* 56px - 64px */
  --fs-hero-desc: clamp(1.25rem, 1.1rem + 0.6vw, 1.5rem); /* 20px - 24px */
  --fs-section-title: clamp(1.5rem, 1.2rem + 1vw, 2rem); /* 24px - 32px */
  --fs-section-desc: clamp(
    0.625rem,
    0.6rem + 0.4vw,
    0.875rem
  ); /* 10px - 14px */
  --fs-content-title: clamp(1rem, 0.9rem + 0.5vw, 1.25rem); /* 16px - 20px */
  --fs-content: clamp(0.75rem, 0.7rem + 0.5vw, 1rem); /* 12px - 16px */
  --fs-meta: clamp(0.625rem, 0.6rem + 0.4vw, 0.875rem); /* 10px - 14px */
  --fs-tag: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem); /* 8px - 12px */

  --border-rad: 20px;
  --transit: all 0.5s ease;
}
